.item {
  /* (total width 610 / number of nodes) - (2*margin) */
  /* Same as width, sets height */
  margin: 0.5px;
  position: relative;
}

.item-default {
  background-color: rgb(251, 251, 251);
}

.item-visited {
  background-color: rgb(204, 163, 60);
}

.item-start {
  background-color: rgb(255, 140, 245);
}

.item-path {
  background-color: rgb(28, 160, 98);
}

.item-goal {
  background-color: rgb(6, 255, 213);
}
